@use './variables' as *;

p {
  font-size: 16px;
  padding: 10px;
}
p.xs {
  font-size: 14px;
}
p.sm {
  font-size: 18px;
}
p.md {
  font-size: 24px;
}
p.lg {
  font-size: 41px;
}

h1 {
  font-size: 41px;
  margin-top: 60px;
  margin-bottom: 42px;
}
h2 {
  font-size: 32px;
   margin-top: 60px;
  margin-bottom: 36px;
}
h3 {
  font-size: 18px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a {
  color: $text-color;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.tc-r,
.text-color-secondary {
  color: $secondary;
}
.tc-b,
.text-color-blue-logo {
  color: $blue-logo;
}


// .bg-bblue, .bg-bblue-v, .bg-blue-v, .bg-ublue, .bg-blue-h, .bg-dark {
//   width: 100vw;
//   position: relative;
//   left: calc(-50vw + 50%);
// }

.backgroud-blue,
.bg-blue-h {
  background-image: linear-gradient(102deg, rgb(255, 255, 255), $soft-blue);

}
.bg-bblue-v {
  background-image: linear-gradient(0deg, rgb(255, 255, 255), #d5dfff);

}
.bg-blue-v {
  background-image: linear-gradient(0deg, rgb(255, 255, 255), $soft-blue);

}
.backgroud-ultrasoftblue,
.bg-ublue {
  background-image: linear-gradient(0deg, rgb(255, 255, 255), $ultrasoft-blue);

}

.bg-bblue {
  background-color: rgba(70, 124, 158, 0.115);

}

.max-content-width {
  max-width: 1800px;
}

.max-text-content-width {
  max-width: 1000px;
}

.min-content-width {
  min-width: 400px;
}

.line {
  border: none;
  height: 4px; /* Espessura da linha */
  background-color: $secondary; /* Cor da linha */
  margin: 20px 0; /* Espaçamento acima e abaixo */
}

.line-pont {
  border: none;
  border-top: 4px dashed $secondary; /* Linha pontilhada vermelha */
  margin: 20px 0;
}

a {
  text-decoration: none;

  color: $text-color;
}

.bg-dark {
  background-color: $primary;

}
.bg-dark p,
.bg-dark a,
.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark h4,
.bg-dark h5,
.bg-dark h6 {
  color: white;
}
.bg-dark .restore p,
.bg-dark .restore a,
.bg-dark .restore h1,
.bg-dark .restore h2,
.bg-dark .restore h3,
.bg-dark .restore h4,
.bg-dark .restore h5,
.bg-dark .restore h6 {
  color: $primary;
}

.notice {
  font-size: 12px;
}

.base-card {
  background-color: white;
  border-radius: 16px;
}

.moldura {
  border-radius: 16px;
  border: 1px solid $primary;
}

.hover {
  transition: 0.5s;
}
.hover:hover {
  cursor: pointer;
  
  filter:brightness(1.1);
  transform: scale(1.05);

}

//lists
.base-list {
  margin: 20px 40px;
  list-style: circle !important;
  list-style-type: circle !important;
  list-style-position: outside !important;
}
.base-list li,
.base-list li p {
  list-style-type: circle !important;
  margin-bottom: 12px;
  padding-left: 20px;
  text-align: justify;
}

@media screen and (max-width: 800px) {
  .mobile, .mobile-reverse{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .mobile-reverse{

    flex-direction: column-reverse;
  }

}
