
$primary : rgb(var(--v-theme-primary));
$secondary : rgb(var(--v-theme-secondary));
$text-color: rgb(var(--v-theme-on-surface));
$soft-blue:  rgba(70, 124, 158, 0.28);
$ultrasoft-blue:  rgba(60, 118, 140, 0.08);
$blue-logo: #21428D;

$hover: $soft-blue;

$max-mobile-width: 920px;