
$primary : rgb(var(--v-theme-primary));
$secondary : rgb(var(--v-theme-secondary));
$text-color: rgb(var(--v-theme-on-surface));
$soft-blue:  rgba(70, 124, 158, 0.28);

$blue-logo: #21428D;

$hover: $soft-blue;